<!DOCTYPE html>
<!--Original author: Roary Tubbs-->
<!--Edited by Anton Budaevr-->
<!--https://www.codehim.com/collections/login-page-in-html-with-css-code/-->
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Login</h2>
    {% for error in errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
  <form id="login-form" action="/auth/login" method="post">
    <p>
    <input type="email" id="email" name="username" value="{{ username }}" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="password" name="password" value="{{ password }}" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="/auth/reg">Create Account</a><p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
</body>
</html>